@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

.font-default {
  font-family: "Montserrat", sans-serif !important;
}
